/nbproj/nbproject/private/private.xml
/pythonnC/TestPython/savedNetworks/nmlt.nml
/MPICH2
NeuroML2

osb/cereb*
osb/basal*
osb/invertebrate
osb/hippo*
osb/showcase

templates/SBML2NEURON
templates/xmlTemplates/Examples
templates/xmlTemplates/Schemata

nbproj/nbproject/private

/testProjects/TEMP_PROJECTS
/testProjects/*/savedNetworks
generatedNeuroML
generatedNEURON
generatedGENESIS
simulations

classes
*.jar
*.bak
*.*~

*py.class
osb2

lib/jython/cachedir/packages/*.pkc
lib/jython/cachedir/packages/packages.idx
