NeuroML2
osb/*
templates/SBML2NEURON
templates/xmlTemplates/Examples
templates/xmlTemplates/Schemata

/testProjects/TEMP_PROJECTS
/testProjects/*/savedNetworks
/testProjects/*/generatedNeuroML
/testProjects/*/generatedNEURON
/testProjects/*/generatedGENESIS
/testProjects/*/simulations

classes
*.jar

*py.class

