/nbproj/nbproject/private/private.xml
/pythonnC/TestPython/savedNetworks/nmlt.nml
/MPICH2
NeuroML2
NeuroML2old
jNeuroMLJar

.DS_Store

osb/cereb*
osb/basal*
osb/invertebrate
osb/hippo*
osb/showcase

logs/*.log

templates/SBML2NEURON
templates/xmlTemplates/Examples
templates/xmlTemplates/Schemata

nbproj/nbproject/private

/testProjects/TEMP_PROJECTS
/testProjects/*/savedNetworks
generatedNeuroML
generatedNEURON
generatedGENESIS
simulations

classes
*.jar
*.bak
*.*~

*py.class
osb2

lib/jython/cachedir/packages/*.pkc
lib/jython/cachedir/packages/packages.idx

docs/website/
docs/XML/xmlForHtml/docs/python/
docs/XML/xmlForHtml/samples/
docs/XML/Forrest/tmp/
