
name: Java CI with Ant

on:
  push:
    branches:  [ master, development ]
  pull_request:
    branches:  [ master, development ]

jobs:
  build_and_test:

    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        java: [ '8', '11', '16', '17', '19' ]
        runs-on: [ubuntu-latest, windows-latest, macos-latest ]

    name: Test on Java ${{ matrix.Java }} on ${{ matrix.runs-on }}
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK ${{ matrix.Java }}
      uses: actions/setup-java@v3
      with:
        java-version: ${{ matrix.Java }}
        distribution: 'adopt'

    - name: Set up env
      run: |
        mkdir temp
        # Get one OSB project required for running tests
        mkdir osb/cerebellum
        mkdir osb/cerebellum/cerebellar_granule_cell
        git clone https://github.com/OpenSourceBrain/GranuleCell.git osb/cerebellum/cerebellar_granule_cell/GranuleCell
        echo Set up additional folders...
        ls

    - name: Build project and run tests (non Win)
      if: ${{ matrix.runs-on != 'windows-latest' }}
      run: |
        ./updatenC.sh # Pull other repos, e.g. NeuroML v1 examples from SourceForge
        # make
        ./nC.sh -make
        # Rebuild & perform a number of tests with ant
        ant testcore
        # Print the version info
        ./nC.sh -v

    - name: Build project and run tests (Win)
      if: ${{ matrix.runs-on == 'windows-latest' }}
      run: |
        ./updatenC.bat # Pull other repos, e.g. NeuroML v1 examples from SourceForge
        echo "Everything pulled..."
        # make
        ./nC.bat -make
        # Rebuild & perform a number of tests with ant
        ant testcore
        # Print the version info
        ./nC.bat -v
      shell: bash
